<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Аппендер для записи в файл -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>myApp.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>myApp.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Максимальный размер каждого файла -->
            <maxFileSize>10MB</maxFileSize>
            <!-- Максимальное количество файлов для хранения -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- Уровень логирования по умолчанию -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!-- Уровень логирования для определенного класса -->
    <logger name="reactor.netty.http.client.HttpClient" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
</configuration>
